@font-face {
    font-family: 'RobotoRegular';
    src: url(fonts/Roboto-Regular.woff) format('woff'),
         url(fonts/Roboto-Regular.ttf) format('ttf');
        font-style: normal;
}

@font-face {
    font-family: "RobotoLight";
    src: url(fonts/Roboto-Light.woff) format('woff'),
         url(fonts/Roboto-Light.ttf) format('ttf');
}

.header {
    background-color: #03A9F4;
    color: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'RobotoRegular', Arial, Helvetica, sans-serif;
}

.container {
    width: 337px;
    height: 344px;
    margin: 0 auto;
    padding-top: 2px;
    background-color: #FAFAFA;
    text-align: center;
    font-family: 'RobotoLight', Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

input[type="text"] {
    background: url(images/email-icon.png) no-repeat;
    background-position: 97%;
}

input[type="password"] {
    background: url(images/lock-icon.png) no-repeat;
    background-position: 97%;
}

input[type="text"], input[type="password"] {
    width: 271px;
    height: 42px;
    margin-bottom: 20px;
    padding-left: 7px;
    border-radius: 5px;
    font-family: 'RobotoLight', Arial, Helvetica, sans-serif;
    border: 1px solid silver;
}

.dws-submit {
    width: 280px;
    height: 42px;
    border-radius: 5px;
    background-color: #F44336;
    border: 1px solid #F44336;
}

.footer {
    height: 43px;
    margin-top: 30px;
    padding-top: 20px;
    background-color: #EEEEEE;
    border-radius: 10px;
}

body {
    background-image: url(images/background.png);
}

h2 {
    padding-top: 20px;
    padding-bottom: 22px;
    margin-top: -2px;
    padding-left: 20px;
    background: url(images/key_icon.png) no-repeat;
    background-size: 27px 27px;
    background-position: 70px 20px;
}

a strong, a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}